<div id="area-title" class="container" style="padding:0px; margin:0px 10px">
<h3>Coding Page</h3>
<p>Note that you can drag bottom-right corner of the textbox to resize it freely</p>
</div>
<form action="/create" method="POST">
	<div id="area-meta" class="container" style="padding:0px; margin:10px">
		<h4>READY</h4>
		<p>Set/modify some meta data for the entire game</p>
		<div class="col-md-8" style="padding:0px">
			<textarea id="txt-meta" name="meta" style="width:100%; max-width:100%; height:80px; font-family:Consolas,Andale Mono,Courier; font-size:small;">{{ meta }}</textarea>
		</div>
		<div class="col-md-4" style="padding:0px 5px; word-wrap:break-word; font-family:Consolas,Andale Mono,Courier; font-size:small;">
			{{{ c_meta }}}
		</div>
	</div>

	<div id="area-things" class="container" style="padding:0px; margin:10px">
		<h4>SET</h4>
		<p>This runs once on the start of the game, so set some things for later use</p>
		<div class="col-md-8" style="padding:0px">
			<textarea id="txt-things" name="things"  style="width:100%; max-width:100%; height:140px; font-family:Consolas,Andale Mono,Courier; font-size:small;">{{ things }}</textarea>
		</div>
		<div class="col-md-4" style="padding:0px 5px; word-wrap:break-word; font-family:Consolas,Andale Mono,Courier; font-size:small;">
			{{{ c_things }}}
		</div>
	</div>

	<div id="area-gameloop" class="container" style="padding:0px; margin:10px">
		<h4>RUN</h4>
		<p>This runs every tick, making the game run</p>
		<div class="col-md-8" style="padding:0px">
			<textarea id="txt-gameloop" name="gameloop"  style="width:100%; max-width:100%; height:140px; font-family:Consolas,Andale Mono,Courier; font-size:small;">{{ gameloop }}</textarea>
		</div>
		<div class="col-md-4" style="padding:0px 5px; word-wrap:break-word; font-family:Consolas,Andale Mono,Courier; font-size:small;">
			{{{ c_gameloop }}}
		</div>
	</div>

	<div id="area-submit" class="container" style="padding:0px; margin:10px">
		<button class="btn btn-lg btn-primary btn-block" type="submit" name="interprete" value="true">Interprete!</button>
		<button class="btn btn-sm btn-warning btn-block" type="submit" name="compile" value="true">COMPILE & GO</button>
	</div>
</form>